.carritoItemContainer {
    display: flex;

    padding: 10px;
    align-items: center;
}

.controlCantidad {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

.itemElement {
    margin: 0px 10px 0px 0px;    
}


.litImage{    
    height: 40px;
    width: 80px;    
    margin: 0px 10px 0px 0px;
}

.carritoItemImg{
width: 100%;
object-fit: contain;
}
.anchoTitulo{
width: 300px;
}

.mas {
    border-radius: 50px;
    border-width: 0px;
    color: rgb(255, 255, 255);
    background-color: #0077b6;
}

.menos {
    border-radius: 50px;
    border-width: 0px;
    color: rgb(255, 255, 255);
    background-color: #0077b6;
}

